{% extends "base.html" %}

{% block title %}员工列表{% endblock %}

{% block content %}

<script>
    function confirmDelete(id) {
        document.getElementById('confirmDeleteId').value = id;
        var instance = M.Modal.getInstance(document.getElementById('deleteModal'));
        instance.open();
    }
</script>
<h3>{{ department.name }} 员工列表</h3>
{% if is_admin=='True' or is_admin=='1'  %}
<a href="#add-department-modal" class="btn waves-effect waves-light modal-trigger">添加部门</a>
{% endif %}
<table class="striped">
    <thead>
    <tr>
        <th>姓名</th>
        <th>电子邮件</th>
        <th>用户名</th>
        <th>入职时间</th>
        <th>职位</th>
        <th>薪资</th>
        <th>部门</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {% for employee in employees %}
    <tr>
        <td>{{ employee.name }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.sys_username }}</td>
        <td>{{ employee.recruited_at }}</td>
        <td>{{ employee.position }}</td>
        <td>{{ employee.salary }}</td>
        <td>{{ employee.department }}</td>
        <td>
            {% if is_admin=='True' or is_admin=='1' %}
            <form action="{{ url_for('delete_employee', id=employee.id) }}" method="post"
                  style="display:inline;">
                <button type="submit" class="btn-small red waves-effect waves-light">删除
                </button>
            </form>
            <form action="{{ url_for('edit_employee', id=employee.id) }}" method="get"
                  style="display:inline;">
                <button type="submit" class="btn-small waves-effect waves-light">编辑
                </button>
            </form>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
